---
layout: layouts/base.njk
permalink: /equipo/jose/
---

{% set member = site.team[1] %}

{% include "partials/topbar.njk" %}

{% include "partials/header.njk" %}

<!-- ===== Profile ===== -->
<section class="profile">
  <div class="wrap profile__inner">
    <a href="/#nosotros" class="profile__back">← Volver</a>
    <div class="profile__hero">
      <div class="profile__photo" style="background-image:url('{{ member.photo }}')"></div>
      <div class="profile__header">
        <p class="profile__label">{{ member.title }}</p>
        <h1 class="profile__name">{{ member.name }}</h1>
        <p class="profile__bio">{{ member.bio }}</p>
      </div>
    </div>
    <div class="profile__body">
      <h2>Experiencia destacada</h2>
      <ul class="profile__list">
        {% for item in member.experience %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% include "partials/footer.njk" %}
